<section style="margin-top: 12px;">
    <img src="../assets/home.png" style="width:100%;">
    <div class="div">
        <h3 style="color: maroon;"> Dark Market</h3>
        <p style="color:rgb(173, 219, 219) ;"> This website offers you online accounts and subscriptions with low prices   </p>
 If you have any question just  <span style="text-decoration:underline ;color: maroon;">  Contact us</span> <br>
    <p style="color:white; font-weight: bold; margin-left: 9px;margin-top: 9px;"> 
    Discord:Dark#8888
  <br>
   E-mail: darkmarket@gmail.com </p>
   <br><br>
   <h2 style="color: maroon;">Team</h2>    
   <ul class="row justify-content-center align-items-center" style="list-style: none;">
   <li  class="col-sm" style="margin-right: 50px;"> <img src="../assets/wided.jpg" class="img"><br>  
    <p style="color:#020282 ;margin-bottom: 2px;">Arfaoui Wided </p>
     *widedarfaoui2002@gmail.com
    </li>
    <li  class="col-sm">
     <img class="img" src="../assets/eya.jpg"><br>
    <p style="color:#020282 ;margin-bottom: 2px;">Hamraoui Aya</p>
    *hamraouieya3@gmail.com
</li> 
</ul>
    </div>

    </section>
    <app-footer></app-footer>

